German version below
---------------------------------------

Dear %requestorDisplayNameV2%,

your Costcenter Manager (%approverDisplayNameV2%) approved the application request for "%softwareTitle%", the software will be installed on your computer (%requestorMachine%) in the next minutes.

For support please reply to this mail or ask your costcenter manager.

Thanks and best regards
%mailSignature%

---------------------------------------

Hallo %requestorDisplayNameV2%,

Ihr Kostenstellenverantwortlicher (%approverDisplayNameV2%) hat ihre Genehmigungsanfrage für die Anwendung "%softwareTitle%" genehmigt. Die Anwendung wird demnächst auf Ihrem Computer (%requestorMachine%) installiert.

Sollten Sie hierbei Hilfe benötigen, antworten Sie einfach auf diese Mail oder fragen Sie ihren Kostenstellenverantwortlichen.

Viele Grüße
%mailSignature%