German version below
---------------------------------------

Dear %requestorDisplayNameV2%,

your Costcenter Manager (%approverDisplayNameV2%) denied the application request for "%softwareTitle%".
The specified reason is: %denyreason%

For support please reply to this mail or ask your costcenter manager.

Thanks and best regards
%mailSignature%

---------------------------------------

Hallo %requestorDisplayNameV2%,

Ihr Kostenstellenverantwortlicher (%approverDisplayNameV2%) hat die Genehmigung für die Anwendung "%softwareTitle%" abgelehnt.
Die angegebene Begründung lautet: %denyreason%

Sollten Sie hierbei Hilfe benötigen, antworten Sie einfach auf diese Mail oder fragen Sie ihren Kostenstellenverantwortlichen.

Viele Grüße
%mailSignature%